.DS_Store
/dist

# Editor directories and files
.idea/
node_modules/

package-lock.json

.env*

nginx.prod.conf
nginx.test.conf
.env.development
.env.production

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
Dockerfile-prod
Dockerfile-test
Jenkinsfile.prod
Jenkinsfile.test
nginx.prod.conf
nginx.test.conf
swarm.prod.yml
SecHeaders.conf
swarm.test.yml
