
body {
  overflow: hidden;
  height: 100vh;
}
label {
  margin-bottom: 0 !important;
}
.KT-gsearch {
  position: relative;
  background-color: var(--bg2);
  width: 100%;
  padding: 0.2rem 0.8rem;
  margin-top: 0.2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#gSearch {
  min-width: 60%;
  margin: 0;
  padding: 0;
}

.KT-gsearch-el {
  margin: 0.3rem;
  padding: 0.2rem 0.4rem;
}

.gs-result-list {
  max-height: 15rem;
  overflow-y: scroll;
  z-index: 100;
}

.gs-input-button {
  display: none !important;
} 

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-ms-expand {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select, input, p {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-size: 0.9em !important;
}
