/* ========== Global Styles ========== */
body, #app {
  height: 100vh;
  width: 100vw;
}

:root {
  --container-scale: 0.9em;
  font-size: var(--container-scale) !important;
  --header-height: calc(6vh + 2rem);
}

label {
  margin-bottom: 0 !important;
}
main {
  display: flex !important;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: calc(100vh - var(--header-height));
  min-width: 100vw;
}

/* ========== Header Styling =========== */
.koor-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: var(--header-height);
}
#koor-hover-icon {
  margin-left: 3rem;
  margin-top: var(--space)
}
.koor-nav {
  margin: var(--space)
}
.KT-logo {
  display: flex;
  align-self: center;
  justify-self: space-around;
  margin: var(--space) !important;
  }
  
/* ========== Map Styling =========== */
#map {
  cursor: crosshair;
  min-width: 100%;
  min-height: 100%;
}

#mousePin {
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
#placed-pin {
  position: absolute;
  transform: translate(-58%, -85%);
  min-height:1rem;
  min-width:1rem;
}
/* ========== Input & Form Elements ========== */
select, input, p, label {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/* Remove number input spinners */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-ms-expand {
  -webkit-appearance: none;
  display: none;
}

/* ========== Search Components ========== */
.KT-gsearch {
  position: relative;
  background-color: var(--bg2);
  width: 100%;
  padding: 0.2rem 0.8rem;
  margin-top: 0.6rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.KT-gsearch-el {
  margin: 0.5rem !important;
}

#gSearch {
  min-width: 60%;
  margin: 0;
  padding: 0;
}

/* Search result list */
.gs-result-list {
  max-height: 15rem;
  overflow-y: scroll;
  z-index: 100;
}

/* Hide search button */
.gs-input-button {
  display: none !important;
}

/* ========== Layout & Containers ========== */
.KoorForm {
  position: absolute;
  top: 10%;
  z-index: 10;
  transform-origin: center;
}

.KT-output-wrapper {
  width: 50%;
  height: 100%;
  position: relative;
}

.KT-input-segment {
  width: 48%;
  margin: var(--space);
}

.KT-output-segment {
  margin: var(--space);
}

#KT-crs-in-select,
#KT-crs-out-select {
  margin-bottom: var(--space-sm);
}

/* ========== Flexbox Layouts ========== */
.KT-idc {
  display: flex;
  align-self: center;
  min-width: 1rem;
  margin: 0 !important;
}

.KT-input-column,
.KT-output-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.KT-input-meter {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.KT-input {
  min-width: 8vw; 
}

.KT-input-row,
.KT-output-row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.3rem;
  flex: 1 0 30%;
  max-height: 2.5rem;
  min-height: 2rem;
  margin-top: 0.4rem;
  justify-content: flex-start;
}

.KT-radio-row{
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  justify-content: flex-end;
  margin: 0.4rem;
  position: relative;

  align-items: center;
}


.KT-input-radio-row {
  flex-direction: row-reverse;
  margin-left: var(--space);
  margin-top: var(--space-sm);
  margin-bottom: var(--space-xs);
  justify-content: space-between;
  align-items: center;
}

/* ========== Output Components ========== */
.KT-output-coord {
  display: inline-flex;
  align-items: center;
  background-color: var(--c7);
  color: var(white);
  border-radius: 1.2rem;
  justify-content: space-between;
  margin: 1rem 0.2rem;
}

.KT-output-coord,
.KT-cpy,
.KT-p {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 10;
}

.KT-p {
  margin-right:0;
}

.KT-push-right {
  margin-right: 0.6rem;
}

.KT-output-p {
  margin-left: var(--space-md);
  color: white;
  background-color: var(--c7);
}

/* ========== Menu & Borders ========== */
.koor-menu-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 10rem;
  min-width: 80%;
  width: 80%;
  flex-flow: row nowrap !important;
}

.KT-borderline {
  min-height: 100%;
  background-color: var(--c6);
  min-width: 0.15rem;
  max-width: 0.15rem;
  margin-right: 1rem;
  margin-left: 1rem;
  position: relative;
  z-index: 10;
  overflow: visible; 
}

.KT-ptr {
  position: absolute;
  top: 45%;
  left: -0.2rem;
  background-color: var(--grey2);
  --ds-icon-color: var(--c6);
  --ds-icon-stroke : 3;
  margin: 0;
}

.KT-load-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 15rem;
  width: 100%;
}
/* ========== Tooltip ========== */

.KT-tooltip {
  position:absolute;
  visibility: hidden;
  opacity: 0;
  background-color: var(--bg2);
  text-align: center;
  border-radius: 1.2rem;
  padding: var(--space);
  top: 1.5rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 11;

  /* Fade-in */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  box-shadow: 0 var(--space-sm) var(--space-md) #00000054;

  min-width: 23vw;
}

.KT-tooltip-dir {
  position:absolute;
  visibility: hidden;
  opacity: 0;
  background-color: var(--bg2);
  text-align: center;
  border-radius: 1.2rem;
  padding: var(--space);
  top: 2rem;
  left:10%;

  /* Position the tooltip */
  position: absolute;
  z-index: 11;

  /* Fade-in */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  box-shadow: 0 var(--space-sm) var(--space-md) #00000054;
}
.KT-tooltip-icon {
  position:relative;
}


.KT-input-row:hover .KT-tooltip-dir {
  visibility: visible;
  opacity: 1;
}
.KT-tooltip-visible .KT-tooltip,
.KT-tooltip-icon:hover .KT-tooltip {
  visibility: visible;
  opacity: 1;
}
/* ==== Responsive Styles ========== */

@media only screen and (max-width: 66rem) {
  .KT-input-meter {
    flex-direction: column;
  }

  .KT-input-meter span {
    max-width: 100%;
  }

  .KT-output-wrapper {
    width: 100%;
    height: 50%;
  }

  .KT-output-segment,
  .KT-input-segment {
    width: 90%;
    height: 50%;
    margin: var(--space);
  }

  .KT-min {
    position: absolute;
    right: 1rem;
    top: 0;
  }

  .koor-menu-inner {
    display: flex;
    flex-flow: column nowrap !important;
    justify-content: space-between;
    min-height: 10rem;
    min-width: 100%;
    width: 80%;
    margin-left: 0;
    max-height: 87vh !important;
    overflow-y: scroll;
  }

  .KT-borderline {
    min-width: 100%;
    background-color: var(--c6);
    min-height: 0.15rem;
    max-height: 0.15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0rem;
    margin-left: 0rem;
    position: relative;
    overflow: visible;
  }

  .KT-ptr {
    position: absolute;
    top: -0.2rem;
    margin: 0;
    left: 48%;
  }
  .KT-tooltip {
    border-radius: 1.2rem;
    padding: var(--space);
    bottom: 1.2rem;
    right:1rem;
    top: auto;
  }
}