.layout-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 3.5vw;
}

.layout-2col_filters {
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.layout-2col_feedback {
    display: grid;
    grid-template-columns: 6fr 2fr;
}

.layout-2col-map {
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: 1.5fr 1fr;
}

.layout-3col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 3.5vw;
}

.layout-3col_footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 3.5vw;
}

.layout-6col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: min-content;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
}

.layout-6col_galleryview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 0.25fr));
    grid-template-rows: min-content;
    grid-row-gap: 2vw;
    grid-column-gap: 2vw;
}
